*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
  background-color: white;
  grid-column: 2 / span all;
  grid-row: 1 / 2;
}

.sidebar {
  background-color: rgb(25, 146, 212);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.content {
  background-color: rgb(226, 232, 240);
  grid-column: 2 / span all;
  grid-row: 2 / span all;
}